USE `furniture_erp`;

CREATE TABLE IF NOT EXISTS `furn_wishlist` (
    `id` INT AUTO_INCREMENT PRIMARY KEY,
    `customer_id` INT(11) NOT NULL,
    `product_id` INT(11) NOT NULL,
    `created_at` TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE KEY `unique_wishlist` (`customer_id`, `product_id`),
    KEY `idx_customer` (`customer_id`),
    KEY `idx_product` (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
